:root {
  --main-color: #3580bb;
  --secondary-color: ;
}
html {
  scroll-behavior: smooth;
}
/* reset Elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

li {
  list-style-type: none;
  cursor: pointer;
}
a {
  text-decoration: none;
}
header {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}
nav {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.left {
  width: calc((100% - 30px) / 3);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.links ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px 0 0 0;
  color: rgba(0, 0, 0, 0.6);
}
.active {
  color: var(--main-color);
}
.icon {
  display: flex;
  align-items: center;
}
.chat {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #fff;
  position: relative;
  z-index: 1;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
select {
  color: var(--main-color);
  padding: 0 10px;
  border: none;
  appearance: none;
}
.login_btn {
  background-color: var(--main-color);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  column-gap: 10px;
  align-items: center;
  cursor: pointer;
}

.subscribe {
  padding: 6px;
  border-radius: 5px;
  display: flex;
  column-gap: 10px;
  align-items: center;
  cursor: pointer;
  border: 3px solid var(--main-color);
  white-space: nowrap;
}
.subscribe span {
  white-space: nowrap;
}

.list_icon {
  display: none;
}
.list_icon i {
  font-size: 25px;
  color: var(--main-color);
  cursor: pointer;
}
/* Resopnsive Header  */

@media (max-width: 768px) {
  .left {
    width: calc((100% - 30px) / 3);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .login_btn span {
    white-space: nowrap;
  }
}
.links_none {
  display: none;
}
@media (max-width: 425px) {
  .links,
  .login_btn,
  .subscribe {
    display: none;
  }
  .list_icon {
    display: block;
  }

  .links_none {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    background-color: #fff;
    width: 100%;
    z-index: 10;
  }
  .links_none--active {
    display: block;
  }
  ul {
    background-color: #f8f9fa;
    color: #fff;
    padding: 0;
  }
  ul li {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  }
  ul li:hover {
    background-color: var(--main-color);
  }
  ul li a {
    color: #000;
  }
}

/*  */

.image_single_blog {
  width: 100%;
  height: 40vh;
  background-image: url("./images/bgWater.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
}

.single-blog {
  direction: rtl;
}

footer {
  background: var(--main-color);
  min-height: 250px;
  padding-top: 20px;
}
.edit_button {
  border: none;
  width: fit-content;
  background-color: #fff;
  color: var(--main-color);
}
.we_here {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: #fff;
}
.we_here h2 {
  font-size: 40px;
  font-weight: 500;
}
.we_here p {
  font-size: 20px;
  font-weight: 500;
}

.social_footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.social_footer span,
.social_footer i {
  margin-right: 10px;
  cursor: pointer;
}
@media (max-width: 425px) {
  footer {
    width: 100%;
  }
  .privacy {
    width: 100%;
  }
  .social_footer span,
  .social_footer i {
    margin-right: 0px;
    cursor: pointer;
  }
  .form,
  .information__contact {
    width: 100%;
  }
  .we_here h2 {
    font-size: 25px;
    font-weight: 500;
    text-align: right;
  }
  .we_here p {
    font-size: 16px;
    text-align: right;
  }
  .social_footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}
